* {
	margin: 0;
	padding: 0;
}

body {
	font-family: montserrat, sans-serif;
	color: gray;
}

h1 {
	padding: 5px;
}

main {
	padding: 0px 20px;
	border: 1px solid black;
}

#page {
	margin: 0 20%;
}

.row {
	margin: 15px 10px;
}

.horizontalMargin {
	display: inline-block;
	margin: 0px 15px 0px 0px;
}

.verticalMargin {
	display: inline-block;
	margin: 0px 0px 15px 0px;
}

.textArea {
	width: 100%;
	resize: none;
}

button {
	padding: 10px;
}