.super-mario {
    width: 150px;
    position: absolute;
    z-index: 3;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 320px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    z-index: -3;
    left: 160px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: -2;
    top: 118px;
    left: 180px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 440px;
    top: 280px;
  }